.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #131313;
    background-image: url('../../assets/image/icon/logodrag.png');
    background-size: 317px 523px;
    background-position: -40px -20px;
    background-repeat: no-repeat;

    width: 225px;
    height: 94.4vh;
}

.logoDragon {
    position: absolute;
    top: 40px;
    width: 540px;
    left: 220px;
    opacity: 0.6;
}